:root {
  --square-width-zoom: 235px;
  --square-height-zoom: 235px;
  --square-z-index: 1;
  --square-position: absolute;
  --horizontal-position: 460px;
  --vertical-position: 95px;
}

.figure:hover {
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  background-color: transparent;
  position: var(--square-position);
  cursor: pointer;
}

.square-red {
  top: var(--vertical-position);
  right: var(--horizontal-position);
}

.square-red:hover {
  filter: drop-shadow(10px 5px 15px red);
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.square-red-feedback {
  filter: drop-shadow(10px 5px 15px red);
}

.square-green {
  top: var(--vertical-position);
  left: var(--horizontal-position);
}

.square-green:hover {
  filter: drop-shadow(10px 5px 15px green);
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.square-green-feedback {
  filter: drop-shadow(10px 5px 15px green);
}

.square-yellow {
  bottom: var(--vertical-position);
  left: var(--horizontal-position);
}

.square-yellow:hover {
  filter: drop-shadow(10px 5px 15px yellow);
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.square-yellow-feedback {
  filter: drop-shadow(10px 5px 15px yellow);
}

.square-blue {
  bottom: var(--vertical-position);
  right: var(--horizontal-position);
}

.square-blue:hover {
  filter: drop-shadow(10px 5px 15px blue);
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.square-blue-feedback {
  filter: drop-shadow(10px 5px 15px blue);
}

.correct-color {
  position: absolute;
  width: 200px;
  height: 200px;
  visibility: hidden;
}
