:root {
  --square-width: 210px;
  --square-height: 120px;
  --square-z-index: 1;
  --square-position: absolute;
  --horizontal-position: 450px;
  --vertical-position: 140px;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  width: var(--square-width);
  height: var(--square-height);
  z-index: var(--square-z-index);
  position: var(--square-position);
  cursor: pointer;
}

.square-red {
  background-color: red;
  transform: rotate(45deg);
  top: var(--vertical-position);
  right: var(--horizontal-position);
}

.square-green {
  background-color: green;
  transform: rotate(135deg);
  top: var(--vertical-position);
  left: var(--horizontal-position);
}

.square-yellow {
  background-color: yellow;
  transform: rotate(225deg);
  bottom: var(--vertical-position);
  left: var(--horizontal-position);
}

.square-blue {
  background-color: blue;
  transform: rotate(315deg);
  bottom: var(--vertical-position);
  right: var(--horizontal-position);
}
