:root {
  --square-width-zoom: 235px;
  --square-height-zoom: 235px;
  --color-red: red;
  --color-blue: blue;
  --color-green: green;
  --color-yellow: yellow;
  --color-gray: #607d8b;
  --color-white: white;
  --color-orange: #ff8800;
  --position-square: absolute;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-square {
  position: absolute;
}

.container-square_default {
  background-color: transparent;
  cursor: pointer;
  position: var(--position-square);
}

.container-square_red {
  top: -230px;
  left: -5px;
}

.container-square_red:hover {
  filter: drop-shadow(10px 5px 15px var(--color-red));
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.container-square_red:active {
  filter: drop-shadow(10px 5px 15px var(--color-white));
}

.container-square_red-feedback {
  filter: drop-shadow(10px 5px 15px var(--color-red));
}

.container-square_green {
  top: -230px;
  left: -230px;
}

.container-square_green:hover {
  filter: drop-shadow(10px 5px 15px var(--color-green));
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.container-square_green:active {
  filter: drop-shadow(10px 5px 15px var(--color-white));
}

.container-square_green-feedback {
  filter: drop-shadow(10px 5px 15px var(--color-green));
}

.container-square_yellow {
  bottom: -220px;
  left: -230px;
}

.container-square_yellow:hover {
  filter: drop-shadow(10px 5px 15px var(--color-yellow));
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.container-square_yellow:active {
  filter: drop-shadow(10px 5px 15px var(--color-white));
}

.container-square_yellow-feedback {
  filter: drop-shadow(10px 5px 15px var(--color-yellow));
}

.container-square_blue {
  bottom: -220px;
  left: 0px;
}

.container-square_blue:hover {
  filter: drop-shadow(10px 5px 15px var(--color-blue));
  width: var(--square-width-zoom);
  height: var(--square-height-zoom);
}

.container-square_blue:active {
  filter: drop-shadow(10px 5px 15px var(--color-white));
}

.container-square_blue-feedback {
  filter: drop-shadow(10px 5px 15px var(--color-blue));
}

.remove-color {
  filter: grayscale(100%);
}

.container-square_score-board {
  position: var(--position-square);
  font-size: 50px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 150px;
  height: 150px;
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.container-square_score-board span {
  color: var(--color-orange);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-white);
  text-align: center;
  word-break: break-word;
}

.container-square_bt-play-game {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-bottom: -520px;
  z-index: 3;
  cursor: pointer;
  transition: width 0.5s, height 0.5s;
}

.container-square_bt-play-game:hover {
  width: 100px;
  height: 100px;
}

.container-square_bt-play-game:active {
  width: 100px;
  height: 100px;
}

.container-square_pulse {
  animation: pulse 0.7s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.container-square_banner-loser {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.container-square_banner-loser img {
  width: 300px;
  height: 300px;
}

.container-square_banner-loser button {
  font-size: 20px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  cursor: pointer;
  background-color: var(--color-green);
  color: var(--color-white);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.5);
    filter: brightness(200%);
  }
}
